<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="data:image/ico;base64,aWNv">
  <link href="/assets/v3/quasar.css" rel="stylesheet" type="text/css">
  <title>ServerSettings</title>
</head>
<body>
<div id="app">
<q-layout view="lHh lpr lFf" container style="height:100vh" v-cloak>
<q-header elevated>
   <q-toolbar>
      <q-avatar square><q-icon name="settings"></q-icon></q-avatar>
      <q-toolbar-title>{{tags.settings}}</q-toolbar-title>
   </q-toolbar>
   <q-tabs v-model="tab" dense indicator-color="yellow">
      <q-tab name="company" :label="tags.company" icon="verified_user"></q-tab>
      <q-tab name="backup" :label="tags.backup" icon="list"></q-tab>
      <q-tab name="aide" :label="tags.aide" icon="bug_report"></q-tab>
   </q-tabs>
</q-header>
<q-page-container>
 <q-page class="text-center">
   <q-tab-panels v-model="tab" animated swipeable transition-prev="jump-up" transition-next="jump-up">
     <q-tab-panel name="company" class="text-left">
       <q-list>
         <q-item>
           <q-item-section>{{tags.creditCode}}</q-item-section>
           <q-item-section>{{creditCode}}</q-item-section>
         </q-item>
         <q-item>
           <q-item-section>{{tags.companyName}}</q-item-section>
           <q-item-section>{{companyName}}</q-item-section>
         </q-item>
         <q-item>
           <q-item-section>{{tags.address}}</q-item-section>
           <q-item-section>{{location}}</q-item-section>
         </q-item>
         <q-item>
           <q-item-section>{{tags.companyId}}</q-item-section>
           <q-item-section>{{cid}}</q-item-section>
         </q-item>
         <q-item>
           <q-item-section><q-icon v-show="cid" name="security" color="green"></q-icon></q-item-section>
           <q-item-section>
            <q-btn icon="beenhere" :label="cid?tags.reRegister:tags.register" @click="register" color="primary"></q-btn>
           </q-item-section>
         </q-item>
       </q-list>
     </q-tab-panel>
     <q-tab-panel name="backup" class="text-left">
       <q-list>
         <q-item>
          <q-item-section>{{tags.backupKey}}</q-item-section>
          <q-item-section>
            <q-input v-model="backupKey" filled bg-color="white">
             <template v-slot:append>
              <q-icon name="save" @click="setBackupKey" color="primary"></q-icon>
             </template>
            </q-input>
          </q-item-section>
         </q-item>
         <q-item>
          <q-item-section>{{tags.backupTime}}</q-item-section>
          <q-item-section>{{backupTime}}</q-item-section>
         </q-item>
         <q-item>
           <q-item-section><q-btn icon="backup" :label="tags.cloudBackup" @click="backup" color="primary"></q-btn></q-item-section>
           <q-item-section><q-btn icon="cloud_download" :label="tags.cloudRestore" @click="backup" color="primary"></q-btn></q-item-section>
           <q-item-section><q-btn icon="folder_special" :label="tags.localBackup" @click="backup" color="primary"></q-btn></q-item-section>
         </q-item>
       </q-list>
      </q-tab-panel>
      <q-tab-panel name="aide" class="text-left">
        <q-list>
          <q-item>
           <q-item-section>{{tags.token}}</q-item-section>
           <q-item-section>
            <q-input v-model="token" filled bg-color="white">
             <template v-slot:append>
              <q-icon name="refresh" @click="refreshToken" color="primary"></q-icon>
             </template>
            </q-input>
           </q-item-section>
          </q-item>
          <q-item>
           <q-item-section>{{tags.logLevel}}</q-item-section>
           <q-item-section>
            <q-select v-model="logLevel" :options="logLevels" @update:model-value="setLogLevel"></q-select>
           </q-item-section>
          </q-item>
        </q-list>
      </q-tab-panel>
   </q-tab-panels>
 </q-page>
</q-page-container>
</q-layout>
<register-dialog :title="tags.register" :tags="tags" ref="regDlg"></register-dialog>
</div>
</body>
<script src="/assets/v3/vue.js"></script>
<script src="/assets/v3/quasar.js"></script>
<script src="/assets/v3/osadapter.js"></script>
<script type="module">
import Language from "./language.js"
import RegisterDlg from "./register.js"

const l=(typeof os)=='undefined' ? navigator.language : os.language();
const tags = l.indexOf("zh") == 0 ? Language.cn : Language.en;
//-------------------------------------------app主体定义
const app = Vue.createApp({
data(){return{
    tags:tags,
    tab:"company",
    backupKey:"",
    backupTime:"",
    creditCode:"",
    companyName:"",
    location:"",
    cid:"",
    token:'',
    logLevel:'DEBUG',
    logLevels:['DEBUG','INFO','WARN','ERROR']
}},
created(){
    this.init();
},
mounted() {
    if(this.cid&&this.cid>0){
        return;
    }
    this.$refs.regDlg.show(resp => {
        this.init();
    });
},
methods:{
init() {
    this.backupTime=new Date(Server.backupTime()).toLocaleString();
    this.backupKey=Server.backupKey();
    this.creditCode=Server.creditCode();
    this.companyName=Server.companyName();
    this.cid=Server.companyId();
    this.location=Server.location();
    this.logLevel=Server.logLevel();
},
backup() {
    Server.backup()
},
setBackupKey() {
    Server.setBackupKey(this.backupKey);
},
setLogLevel() {
    Server.setLogLevel(this.logLevel);
},
refreshToken() {
    this.token = Server.refreshConsoleToken();
},
register(){
    this.$refs.regDlg.show(()=>{
        this.init()
    });
}
}
});
app.use(Quasar);
app.component('register-dialog', RegisterDlg);
app.mount('#app');
</script>
</html>