<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="data:image/ico;base64,aWNv">
<link href="/assets/v3/quasar_font.css" rel="stylesheet" type="text/css">
<link href="/assets/v3/quasar.css" rel="stylesheet" type="text/css">
<title>iResource</title>
</head>
<body style="overflow:hidden">
<div id="app" v-cloak><router-view></router-view></div>

<template id="tpl_home">
<q-layout view="HHH LpR FFF" container style="height:99vh">
<q-header>
  <q-toolbar>
     <q-avatar square><img src="./favicon.png"></q-avatar>
     <q-toolbar-title>{{tags.app_name}}</q-toolbar-title>
  </q-toolbar>
  <div class="text-right bg-white q-pt-sm">
    <q-btn :label="tags.factory.title" @click="goto('/factory')"
     icon="factory" color="secondary" padding="xs" flat
     v-if="service.userInfo.powers.iresource=='admin'"></q-btn>
    <q-btn :label="tags.sku.title" @click="goto('/sku')" 
     icon="list" color="primary" flat
     v-if="service.userInfo.powers.iresource=='admin'"></q-btn>
    <q-btn :label="tags.supplier.title" @click="goto('/supplier')" 
     icon="shop" color="primary" flat></q-btn>
    <q-btn :label="tags.storage.purchase" @click="goto('/purchase')"
     icon="shopping_cart" color="accent" flat></q-btn>
    <q-btn :label="tags.storage.title" @click="goto('/storage')"
     icon="warehouse" color="accent" flat></q-btn>
  </div>
</q-header>
<q-page-container>
 <q-page class="q-pa-sm">
  <q-separator spaced="sm"></q-separator>
  <ibf></ibf>
 </q-page>
</q-page-container>
</q-layout>
</template>

</body>
<script src="/assets/v3/vue.js"></script>
<script src="/assets/v3/vue-router.js"></script>
<script src="/assets/v3/quasar.js"></script>
<script src="/assets/v3/osadapter.js"></script>
<script type="module">
import AlertDialog from "/assets/v3/components/alert_dialog.js"
import DateInput from "/assets/v3/components/date_input.js"
import MonthInput from "/assets/v3/components/month_input.js"
import UserSelector from "/assets/v3/components/user_selector.js"
import ConfirmDialog from "/assets/v3/components/confirm_dialog.js";
import SkuSelector from "/ibfbase/components/sku_selector.js"
import IBF from '/ibfbase/ibf.js'
import Factory from "./factory.js"
import FacDetail from "./facdetail.js"
import Sku from "./sku.js"
import SkuDetail from "./skudetail.js"
import Supplier from "./supplier.js"
import SupDetail from "./supdetail.js"
import Storage from "./storage.js" //仓储，包括查看资产清单、执行出入库
import ResDetail from "./resdetail.js" //资源详情，在Storage中使用
import GrnDetail from "./grndetail.js"
import GdnDetail from "./gdndetail.js"
import Purchase from "./purchase.js"
import PurchaseDetail from "./purchasedtl.js"

import Language from "./language.js"
import { registerIbf } from '/ibfbase/ibf.js';

const homeTpl=document.getElementById('tpl_home');
const Home = {
inject:['tags','service'],
methods:{
  goto(url) {
    this.$router.push(url);
  }
},
template:homeTpl.innerHTML
}

const l=Platform.language();
const tags = l.indexOf("zh") == 0 ? Language.cn : Language.en;
//router定义
const router = VueRouter.createRouter({"history": VueRouter.createMemoryHistory(),
routes:[
  {path:'/home', component:Home},
  {path:'/factory', component:Factory},
  {path:'/facdetail', component:FacDetail},
  {path:'/sku', component:Sku},
  {path:'/skudetail', component:SkuDetail},
  {path:'/supplier', component:Supplier},
  {path:'/supdetail', component:SupDetail},
  {path:'/purchase', component:Purchase},
  {path:'/purchasedtl', component:PurchaseDetail},
  {path:'/storage', component:Storage},
  {path:'/resdetail', component:ResDetail},
  {path:'/grndetail', component:GrnDetail},
  {path:'/gdndetail', component:GdnDetail}
]});

//service定义
const _service = {name:"iresource",N_PAGE:10,N_SMPG:5,
userInfo:{id:-1,powers:{}},
runtime:{}, //运行时
factories:[], //我管理的工厂列表
skus:[],
myFactories() {
    if(this.factories.length>0){
        return new Promise(resolve=>{ resolve(this.factories) });
    }
    var url="/api/factory/my";
    return request({method:"GET",url:url}, this.name).then(resp=>{
        if(resp.code != 0) {
            return [];
        }
        var dt=new Date();
        for(var l of resp.data.list) {
            dt.setTime(l.createAt*60000);
            l.createAt=datetime2str(dt);
        }
        this.factories=resp.data.list;
        return this.factories;
    });
},
skuList(pg) {
    if(pg==1&&this.skus.length>0){ //只缓存第一页
        return new Promise(resolve=>{ resolve(this.skus) });
    }
	var offset=(pg-1)*this.N_PAGE;
    var url="/api/sku/list?offset="+offset+"&num="+this.N_PAGE;
    return request({method:"GET",url:url}, this.name).then(resp=>{
        if(resp.code != 0) {
            return [];
        }
        for(var l of resp.data.list) {
            l.type_s=tags[l.type];
        }
        if(pg==1) this.skus=resp.data.list;
        return resp.data.list;
    });
},
setRt(k, v) {
    this.runtime[router.currentRoute.value.path+':'+k]=v;
},
getRt(k) {
    return this.runtime[router.currentRoute.value.path+':'+k];
},
back() { //返回，在页面中通过service.back调用
    router.back();
},
goto(url) {
    router.push(url)
}
};
//app主体定义
const app = Vue.createApp({
provide:{tags:tags, service:_service},
created(){
    registerIbf(app,router).then(userInfo => {
        _service.userInfo=userInfo;
        this.$router.push('/home').catch(err => {err});
    });
},
mounted() {
    window.sys_go_back = this.sysGoBack;//给webview调用
},
methods:{
sysGoBack() {
    //声明全局函数，在webview中调用，
    //实现按回退按钮回退历史页面，如果无历史，则退出activity或应用
    if(this.$router.currentRoute.value.path==="/home") {
        return false;
    }
    this.$router.back();
    return true;
}
}
});

app.use(Quasar);
app.use(router);
app.component('ibf', IBF);
app.component('alert-dialog', AlertDialog);
app.component('confirm-dialog', ConfirmDialog);
app.component('date-input', DateInput);
app.component('month-input', MonthInput);
app.component('user-selector', UserSelector);
app.component('sku-select', SkuSelector);
//启动APP
app.mount('#app');
</script>
</html>